<div class="form-group col-md-6">
  <%= form_with model: @workout, local: true do |form| %>

  <% if @workout.errors.any? %>
    <div id="error_explanation">
        <% @workout.errors.full_messages.each do |msg| %>
          <div class='alert alert-danger'><%= msg %></div>
        <% end %>
    </div>
  <% end %>
 
  <p>
    <%= form.label :date %><br>
    <%= form.date_field(:date, {:class => 'form-control '}) %>
  

  <p>
    <%= form.label :description %><br>
    <%= form.text_area(:description, {:class => 'form-control', :placeholder => 'Type a brief description'}) %>
  </p>

  <p>
    <%= form.submit({:class => 'btn btn-success'})%>
  </p>
  
  <p>
    <%= link_to 'Back', workouts_path, {:class => 'btn btn-danger'} %>
  </p>

<% end %>
</div>
